* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #b3a3d9;
    -webkit-text-stroke: 0.3px #1c234a;
    font-style: bold;
    width: 100%;
    height: 100%;
    animation: changeBackgroundImage 13s infinite;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

body h3 {
    color: #233031;
}

@keyframes changeBackgroundImage {
    0% {
        background-image: url('https://wallpapers.com/images/high/friends-tv-show-coffeehouse-mw3j8y0rqvinit75.webp');
    }
    25% {
        background-image: url('https://wallpapers.com/images/high/friends-tv-show-desktop-jf3z6vs7gfusf7ax.webp');
    }
    50% {
        background-image: url('https://wallpapers.com/images/high/friends-pictorial-desktop-byvaoybuyo9khptk.webp');
    }
    75% {
        background-image: url('https://wallpapers.com/images/high/friends-desktop-polaroids-iypocloyarjkgmko.webp');
    }
    100% {
        background-image: url('https://wallpapers.com/images/high/friends-tv-show-above-the-city-3vmch0exopfkgmbc.webp');
    }
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
}

header h3 {
    flex-grow: 1;
    font-size: 20px;
    margin-bottom: 10px;
    margin-right: auto;
}

h3 {
    text-align: center;
}

#buttonsHeader {
    flex-grow: 2;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(179, 163, 217, 0.32);
    padding: 20px;
    border-radius:0px 0px 50px 50px;
    -moz-border-radius:0px 0px 0px 50px;
    -webkit-border-radius:0px 0px 0px 50px;
    box-shadow: 0 0 10px #1c234a;
}

.circleButton {
    font-family: 'Roboto', sans-serif;
    color: #1c234a;
    background: rgb(179, 163, 217, 0.750);
    display: inline-block;
    font-size: 1.3em;
    border: none;
    border-radius: 50%;
    transition: all 0.2s ease;
    padding: 0.30em;
}

.circleButton:hover {
    animation: circle-anim 0.3s ease forwards;
    transition: all 0.4s ease;
}

.growContainer {
    display: inline-block;
    margin: 1em;
}

.toHome:hover {
    background: #111;
}

.toGot:hover {
    background: #993300;
}

.toHp:hover {
    background: #590209;
}

.toBob:hover {
    background: #f7e73a;
}

.toStitch:hover {
    background: #1a74ac;
}

.toTbbt:hover {
    background:#d47507;
}

.toFriends:hover {
    background: rgb(179, 163, 217, 0.750);
}

@keyframes circle-anim {
    0% {

    }
    90% {
        padding: 0.45em;
        margin: -0.45em;
    }
    100% {
        padding: 0.35em;
        margin: -0.35em;
    }
}

.container {
    display: flex;
    align-content: center;
    height: 100vh;
}

#box {
    width: 45%;
    height: 35%;
    margin: auto;
    padding: 30px;
    border-radius: 8px;
    background-color: rgb(179, 163, 217, 0.32);
    box-shadow: 0 0 10px #1c234a;
    padding: 20px;
    align-self: center;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.inputTime {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-group {
    display: flex;
}

.input-group input {
    padding: 8px 12px;
    border: none;
    color: #1c234a;
    border-radius: 9999em;
    outline: none;
    background: linear-gradient(21deg, rgba(179, 163, 217, 0.550), rgba(179, 163, 217, 0.800));
    transition: box-shadow 0.3s ease, background-color 0.3s ease;
    width: 100px;
    height: 40px;
    margin-right: 20px;
}

.input-group input:focus {
    box-shadow: inset 0 0 0 3px #6f6b8d, 0 0 0 4px #6f6b8d, 3px -3px 30px #5f5c79, -3px 3px 30px #514e69;
}

.input-group input::placeholder {
    color: #1c234a;
}

.input-group span {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 12px;
    color: #6f6b8d;
}

.input-group {
    display: flex;
    justify-content: center;
    align-items: center;
}

#buttonsComands {
    display: flex;
    margin-top: 25px;
    justify-content: center;
}

.growComands {
    display: inline-block;
    margin: 1em;
}

#startButton:hover {
    background: #6f6b8d;
}

#pauseButton:hover {
    background: #6f6b8d;
}

#resetButton:hover {
    background: #6f6b8d;
}

.display {
    display: flex;
    justify-content: center;
}

#displayCount {
    font-size: 85px;
}