* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #590209;
    -webkit-text-stroke: 0.3px #ccc;
    font-style: bold;
    width: 100%;
    height: 100%;
    animation: changeBackgroundImage 13s infinite;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

body h3 {
    color: #ccc;
}

@keyframes changeBackgroundImage {
    0% {
        background-image: url('https://wallpapers.com/images/high/harry-potter-all-characters-3u081txnk0gjan6x.webp');
    }
    25% {
        background-image: url('https://wallpapers.com/images/high/harry-potter-dobby-elf-art-zcp6c4skrgdp1ei1.webp');
    }
    50% {
        background-image: url('https://wallpapers.com/images/hd/harry-potter-characters-using-magic-6nhsunyyq4kib7u8.webp');
    }
    75% {
        background-image: url('https://wallpapers.com/images/high/great-hall-harry-potter-desktop-zjejeshp84mf1tc7.webp');
    }
    100% {
        background-image: url('https://wallpapers.com/images/high/hogwarts-desktop-pv89yqu86igkixop.webp');
    }
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
}

header h3 {
    flex-grow: 1;
    font-size: 20px;
    margin-bottom: 10px;
    margin-right: auto;
}

h3 {
    text-align: center;
}

#buttonsHeader {
    flex-grow: 2;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(89, 2, 9, 0.15);
    padding: 20px;
    border-radius:0px 0px 50px 50px;
    -moz-border-radius:0px 0px 0px 50px;
    -webkit-border-radius:0px 0px 0px 50px;
    box-shadow: 0 0 10px #ccc;
}

.circleButton {
    font-family: 'Roboto', sans-serif;
    color: #ccc;
    background: rgb(89, 2, 9, 0.5);
    display: inline-block;
    font-size: 1.3em;
    border: none;
    border-radius: 50%;
    transition: all 0.2s ease;
    padding: 0.30em;
}

.circleButton:hover {
    animation: circle-anim 0.3s ease forwards;
    transition: all 0.4s ease;
}

.growContainer {
    display: inline-block;
    margin: 1em;
}

.toHome:hover {
    background: #111;
}

.toGot:hover {
    background: #993300;
}

.toHp:hover {
    background: rgb(89, 2, 9, 0.502);
}

.toBob:hover {
    background: #f7e73a;
}

.toStitch:hover {
    background: #1a74ac;
}

.toTbbt:hover {
    background:#cb7743;
}

.toFriends:hover {
    background: #b129e7;
}

@keyframes circle-anim {
    0% {

    }
    90% {
        padding: 0.45em;
        margin: -0.45em;
    }
    100% {
        padding: 0.35em;
        margin: -0.35em;
    }
}

.container {
    display: flex;
    align-content: center;
    height: 100vh;
}

#box {
    width: 45%;
    height: 35%;
    margin: auto;
    padding: 30px;
    border-radius: 8px;
    background-color: rgba(153, 51, 0, 0.15);
    box-shadow: 0 0 10px #ccc;
    padding: 20px;
    align-self: center;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.inputTime {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-group {
    display: flex;
}

.input-group input {
    padding: 8px 12px;
    border: none;
    color: #ccc;
    border-radius: 9999em;
    outline: none;
    background: linear-gradient(21deg, rgba(89, 2, 9, 0.550), rgba(89, 2, 9, 0.700));
    transition: box-shadow 0.3s ease, background-color 0.3s ease;
    width: 100px;
    height: 40px;
    margin-right: 20px;
}

.input-group input:focus {
    box-shadow: inset 0 0 0 3px #b6946d, 0 0 0 4px #b6946d, 3px -3px 30px #a38562, -3px 3px 30px #a3835d;
}

.input-group input::placeholder {
    color: #ccc;
}

.input-group span {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 12px;
    color: #b6946d;
}

.input-group {
    display: flex;
    justify-content: center;
    align-items: center;
}

#buttonsComands {
    display: flex;
    margin-top: 25px;
    justify-content: center;
}

.growComands {
    display: inline-block;
    margin: 1em;
}

#startButton:hover {
    background: #b6946d;
}

#pauseButton:hover {
    background: #b6946d;
}

#resetButton:hover {
    background: #b6946d;
}

.display {
    display: flex;
    justify-content: center;
}

#displayCount {
    font-size: 85px;
}