* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #1a74ac;
    -webkit-text-stroke: 0.3px #f2d6a4;
    font-style: bold;
    width: 100%;
    height: 100%;
    animation: changeBackgroundImage 13s infinite;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

body h3 {
    color: #f2d6a4;
}

@keyframes changeBackgroundImage {
    0% {
        background-image: url('https://wallpapers.com/images/high/lilo-and-stitch-hula-dancing-wowu36cmsx7xvkxy.webp');
    }
    25% {
        background-image: url('https://wallpapers.com/images/hd/stitch-and-lilo-in-hula-tccf0wywkk27ft1k.webp');
    }
    50% {
        background-image: url('https://wallpapers.com/images/high/sad-lilo-stitch-sitting-17t2wjdwa2v807i0.webp');
    }
    75% {
        background-image: url('https://wallpapers.com/images/high/cute-disney-stitch-and-angel-ndg9ieal8leywgsf.webp');
    }
    100% {
        background-image: url('https://wallpapers.com/images/hd/my-dear-stitch-and-angel-hd-43yw3ftd4efgd05q.webp');
    }
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
}

header h3 {
    flex-grow: 1;
    font-size: 20px;
    margin-bottom: 10px;
    margin-right: auto;
}

h3 {
    text-align: center;
}

#buttonsHeader {
    flex-grow: 2;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(26, 116, 172, 0.23);
    padding: 20px;
    border-radius:0px 0px 50px 50px;
    -moz-border-radius:0px 0px 0px 50px;
    -webkit-border-radius:0px 0px 0px 50px;
    box-shadow: 0 0 10px #f2d6a4;
}

.circleButton {
    font-family: 'Roboto', sans-serif;
    color: #f2d6a4;
    background: rgb(26, 116, 172, 0.723);
    display: inline-block;
    font-size: 1.3em;
    border: none;
    border-radius: 50%;
    transition: all 0.2s ease;
    padding: 0.30em;
}

.circleButton:hover {
    animation: circle-anim 0.3s ease forwards;
    transition: all 0.4s ease;
}

.growContainer {
    display: inline-block;
    margin: 1em;
}

.toHome:hover {
    background: #111;
}

.toGot:hover {
    background: #993300;
}

.toHp:hover {
    background: #590209;
}

.toBob:hover {
    background: #f7e73a;
}

.toStitch:hover {
    background: rgb(26, 116, 172, 0.723);
}

.toTbbt:hover {
    background:#cb7743;
}

.toFriends:hover {
    background: #b3a3d9;
}

@keyframes circle-anim {
    0% {

    }
    90% {
        padding: 0.45em;
        margin: -0.45em;
    }
    100% {
        padding: 0.35em;
        margin: -0.35em;
    }
}

.container {
    display: flex;
    align-content: center;
    height: 100vh;
}

#box {
    width: 45%;
    height: 35%;
    margin: auto;
    padding: 30px;
    border-radius: 8px;
    background-color: rgb(26, 116, 172, 0.23);;
    box-shadow: 0 0 10px #f2d6a4;
    padding: 20px;
    align-self: center;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.inputTime {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-group {
    display: flex;
}

.input-group input {
    padding: 8px 12px;
    border: none;
    color: #f2d6a4;
    border-radius: 9999em;
    outline: none;
    background: linear-gradient(21deg, rgba(26, 116, 172, 0.450), rgba(26, 116, 172, 0.700));
    transition: box-shadow 0.3s ease, background-color 0.3s ease;
    width: 100px;
    height: 40px;
    margin-right: 20px;
}

.input-group input:focus {
    box-shadow: inset 0 0 0 3px #f2d6a4, 0 0 0 4px #f2d6a4, 3px -3px 30px #dfc497, -3px 3px 30px #c2aa80;
}

.input-group input::placeholder {
    color: #f2d6a4;
}

.input-group span {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 12px;
    color: #c2aa80;
}

.input-group {
    display: flex;
    justify-content: center;
    align-items: center;
}

#buttonsComands {
    display: flex;
    margin-top: 25px;
    justify-content: center;
}

.growComands {
    display: inline-block;
    margin: 1em;
}

#startButton:hover {
    background: #c2aa80;
}

#pauseButton:hover {
    background: #c2aa80;
}

#resetButton:hover {
    background: #c2aa80;
}

.display {
    display: flex;
    justify-content: center;
}

#displayCount {
    font-size: 85px;
}